lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log
.idea

coverage
test
.editorconfig
.eslintignore
.eslintrc.js
.github
.gitignore
.npmignore
.prettierrc.js
.renovaterc.json
gulpfile.js
